:root {
    // --- COLORS --- \\
    --primary-color: white;
    --secondary-color: rgb(2, 130, 249);
    --tertiary-color: rgb(58, 58, 58);
    --quaternary-color: rgb(28, 28, 28);
    --quinary-color: rgb(0, 63, 94);
    --hexanary-color: rgb(85, 186, 89);
    --septenary-color: rgb(53, 119, 57);
    --octonary-color: rgb(210, 210, 210);
    --another-color: rgb(180, 180, 180);


    // --- CONTAINERS SIZE --- \\
    --container-md: 80rem;
    --container-sm: 65rem;

}