.comic-details-section {
    background-color: var(--octonary-color);
    margin: -25px 0;
    color: var(--tertiary-color);

    .container {
        max-width: var(--container-sm);
        padding: 3rem 0;

        .section-top {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .left-col, .right-col {
                width: 45%;

                h2, .details {
                    border-bottom: 1px solid var(--another-color);
                }

                h2, h3 {
                    color: var(--quinary-color);
                }

                h2 {
                    font-size: 1.5rem;
                    padding-bottom: 2rem;
                }

                h3, a, p {
                    font-size: 1rem;
                    vertical-align: baseline;
                    padding-top: .375rem;
                }

                li {
                    list-style: none;

                    a {
                        text-decoration: none;

                        &:hover {
                            color: var(--secondary-color);
                        }
                    }
                }

                .details {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 1rem 0;

                    .detail-name {
                        width: 35%;
                    }

                    .detail-value {
                        width: 65%;
                    }
                }
            }
        }
    }
}